mixin boroughToggle(boroughData, boroughName)
  -console.log(name);
  -console.log(borough);
  i.togglelayerVisibility.fa-minus-square.fas.compress-expand-icon
  .areaList #{boroughName}
    each featureGroup, featureGroupName in boroughData
      .layersInArea
        input(type='checkbox' name=featureGroupName).view.featureGroup 
        i.togglelayerVisibility.fa-minus-square.fas.compress-expand-icon
        lable #{featureGroupName}
        each layer in featureGroup
          +layerToggle(layer)

mixin layerToggle(layer)
  .layer.hiddenContent
    input(type='checkbox' name=layer._id) 
    i.togglelayerVisibility.fa-minus-square.fas.compress-expand-icon 
    i.editLayer.fa-pencil-alt.fas.compress-expand-icon(title='Edit this layer?')
    i.mapMaster.deleteLayer.fa-trash.fas.compress-expand-icon(title='Delete this layer?')
    lable(for=layer._id) #{layer.name}